.diphylleia-regular {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

html{
  font-size: 60px;
  font-family: "Diphylleia", serif;
}

header{
  margin-bottom:60px;
}
a{
    font-size: 1rem;
}

a, a:link, a:visited {
	text-decoration: none;
	color: inherit; 
    cursor: pointer;
}

div{
  font-size: 0.5rem;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
}

main{
  position: relative;
}

.static{
  position: static;
  top:50px;
  left:50px;
}

.relative{
  background: rgb(207, 255, 250);
  position: relative;
  top:90px;
  left:90px;
}

.absolute{
  position: absolute;
  top:90px;
  left:90px;
}

.fixed{
  position: fixed;
  background: rgb(255, 228, 228);
  bottom:10px;
  right:10px;
}

.sticky{
  background: rgb(188, 255, 163);
  position: sticky;
  top:100px;
  /* left:20px; */
  z-index: 999;
}

